asgiref==3.8.1 ; python_version >= "3.13"
attrs==25.3.0 ; python_version >= "3.13"
django==5.2.3 ; python_version >= "3.13"
djangorestframework==3.16.0 ; python_version >= "3.13"
drf-spectacular==0.28.0 ; python_version >= "3.13"
inflection==0.5.1 ; python_version >= "3.13"
jsonschema-specifications==2025.4.1 ; python_version >= "3.13"
jsonschema==4.25.0 ; python_version >= "3.13"
pillow==11.3.0 ; python_version >= "3.13"
pyyaml==6.0.2 ; python_version >= "3.13"
referencing==0.36.2 ; python_version >= "3.13"
rpds-py==0.26.0 ; python_version >= "3.13"
sqlparse==0.5.3 ; python_version >= "3.13"
tzdata==2025.2 ; python_version >= "3.13" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.13"
