asgiref==3.8.1 ; python_version >= "3.12"
attrs==25.3.0 ; python_version >= "3.12"
django==5.2.3 ; python_version >= "3.12"
djangorestframework==3.16.0 ; python_version >= "3.12"
drf-spectacular==0.28.0 ; python_version >= "3.12"
inflection==0.5.1 ; python_version >= "3.12"
jsonschema-specifications==2025.4.1 ; python_version >= "3.12"
jsonschema==4.25.0 ; python_version >= "3.12"
pillow==11.3.0 ; python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
rpds-py==0.26.0 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
typing-extensions==4.14.1 ; python_version == "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.12"
